<section *ngIf="lists$ | async as lists">
  <div *ngIf="lists.length > 0; else empty">
    <app-list *ngFor="let list of lists" [list]="list"></app-list>
  </div>
  <button *ngIf="isLoggedIn" (click)="toggleModale()" class="add">Ajouter une liste</button>
  <aside *ngIf="modaleOpened">
    <input type="text" [(ngModel)]="name">
    <button (click)="addList()">Ajouter</button>
    <button (click)="toggleModale()">Annuler</button>
  </aside>
</section>

<ng-template #empty>
  <p>Aucune liste pour le moment.</p>
</ng-template>
