section {
  padding: 1em;
  
  form {
    width: 400px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    input {
      width: 100%;
      padding: 0.25em;
    }

    button {
      padding: 0.5em;
    }
  }
}
