ul {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 1em;

    a {
        display: block;
    }
    
    a,
    div {
        padding: 1em;
    }
    
    div {
        cursor: pointer;
    }
}
